<h1>Etusivuu</h1>
<h3>T채m채 on aloitussivu</h3>
<p>
	T채ss채 kerrotaan sovelluksen ideasta ja kuinka se toimii
</p>
<p>
	<a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
</p>
<p>Random cats</p>

<!-- Navigations -->

<div class="">
	<p>
		<%= link_to 'To the Calendar', calendar_path, class: "btn btn-normal btn-success", style: "color: white" %>
	<p/>
</div>