<div id="clearance" class="sign-in">
  <div class="form-horizontal col-xs-8">
    <div class="col-xs-offset-1 col-xs-11">
      <h2><%= t(".title") %></h2>
      <br>
    </div>
    <%= render partial: '/sessions/form' %>
  </div>
</div>
