<div class="row comment">
  <div class="col-xs-offset-1 col-xs-10">
    <p><strong><%= comment.commenter %></strong> <%= get_timestamp(comment.created_at) %></p>
    <p id="comment_body"><%= comment.body %></p>
  </div>
  <div class="col-xs-1">
    <div class="delete_comment">
      <%= link_to [comment.event, comment],
          id: "deletion",
          class: "btn btn-danger has-tooltip",
          method: :delete,
          data: {
                confirm: ' ',
                title: 'Delete',
                msg: 'Are you sure you want to delete?'
                } do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
  </div>
</div>
