<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>
<p>
  <strong>Start time:</strong>
  <%= @event.starttime %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @event.starttime %>
</p>