// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	.day_headers {
		th {
			background-color: #87A88B;
		}
	}

	.not-in-month {
		color: #B1B1B1;
	}
	.today {
		text-decoration: underline;
		color: #007817;
	}

}