// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav_month{
	margin-bottom: 5px;
	vertical-align: middle;
	a {
		padding: 10px;
		background-color: #C0C0C0;
		color: #FFF;
		&:hover, &:focus {
			background-color: #DEDEDE;
			color: #008000;
		}
	}
	.month_title{
		margin: 0 15px 0 15px;
		display: inline-block;
		font-size: 1.5em;
		line-height: 50px;
	}
	#back_btn_month{
		display: inline-block;
		font-size: 1.2em;
		margin-bottom: 5px;
	}
	#forward_btn_month{
		display: inline-block;
		font-size: 1.2em;
		margin-bottom: 5px;
	}
}

.calendar.table {
	width: 100%;
	min-width: 750px;
	table-layout: fixed;
	.day_headers {
		height: 30px;
		th {
			color: white;
			text-align: center;
			background-color: #008000;
		}
	}
	.day_header_content {
		height: auto;
		padding-bottom: 7px;
		.add_event_link {
			padding-right: 3px;
			position: relative;
			text-align: center;
		  top: 0;
		  right: -3px;
		  z-index: 1000;
		  opacity: 0;
			transition: opacity 0.5s ease-in-out;
	    -moz-transition: opacity 0.5s ease-in-out;
	    -webkit-transition: opacity 0.5s ease-in-out;
	    -o-transition: opacity 0.5s ease-in-out;
	    &.hover {
	    	opacity: 1;
				transition: opacity 0.25s ease-in-out;
		    -moz-transition: opacity 0.25s ease-in-out;
		    -webkit-transition: opacity 0.25s ease-in-out;
		    -o-transition: opacity 0.25s ease-in-out;
	    }
			a {
				padding: 2px 2px 0 5px;
			}
		}
	}
	.event_day {
		cursor: pointer;
		&:hover, &:focus {
			background: #DDE2E5;
		}
	}
	.event_day.not-in-month {
		cursor: pointer;
		&:hover, &:focus {
			background: #DDE2E5;
			color: #888888;
		}
	}
	.not-in-month {
		color: #EEEEEE;
		background-color: #8C9EBD;
	}
	.today {
		color: #007817;
		font-weight: bold;
		background-color: rgba(60, 200, 63, 0.3);
	}
	.event_item {
		height: 115px;
		overflow: hidden;
		margin-bottom: 0;
		padding: 0;
		overflow-y: auto;
		overflow-x: hidden;
		color: #008000;
		list-style-type: square;
		a.list-group-item {
			font-weight: normal;
			padding: 5px;
			&:hover, &:focus {
				background: #577492;
				color: white;
			}
		}
	}
}
