// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
	&.table {
		width: 100%;
		table-layout: fixed;

		tr {
			height: 100px;
		}

		td {
			margin: 50px;
		}

		.day_headers {
			height: 30px;
			th {
				color: white;
				text-align: center;
				background-color: #87A88B;
			}
		}

		.not-in-month {
			color: #EEEEEE;
			background-color: #BFBFBF;
		}
		.today {
			text-decoration: underline;
			color: #007817;
			font-weight: bold;
			background-color: rgba(25, 150, 25, 0.1);
		}
	}
}

.nav {
	&.pull-left {
		a {
			padding: 5px 10px;
			text-align: center;
			color: green;
		}
		&a:active, a:hover {
			color: black;
		}
	}
	&.pull-right {
		a {
			padding: 5px 10px;
			text-align: center;
			color: white;
		}
		&a:active, a:hover {
			color: black;
		}
	}
}
