// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments_container {
  .comments_header h2 {
    color: #888;
  }
  .divider {
    border-bottom: 1px #CCC solid;
  }
  .all_comments {
    padding-top: 15px;
    p {
      font-size: 0.9em;
      strong {
        color: #0099cc;
        font-size: 1.4em;
      }
    }
    #comment_body {
      font-size: 1.0em;
    }
    .row.comment {
      margin-bottom: 15px;
      .delete_comment {
        padding-top: 50%;
        padding-bottom: 100%;
        margin-bottom: -100%;
        text-align: center;
        #deletion {
          display: inline-block;
          width: 26px;
          height: 26px;
          padding: 1px 1px 1px 2px;
          font-size: 18px;
          line-height: 1.0;
          border-radius: 20px;
          span {
            vertical-align: middle;
          }
        }
      }
    }
  }
  .comments_form {
    margin-bottom: 25px;
  }
}
