// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events_index {
	margin-top: 10px;
	.events.panel-heading {
		vertical-align: middle;
		.panel-title {
			font-size: 27px;
		}

		.btn-group {
			padding-right: 12px;
			a {
				padding: 5px 8px 5px 11px;
			}
		}
	}

	.list_events {
		table {
			margin-bottom: 0;
			.btn_container {
				position:relative;
				height: 38px;
			}
		}
	}
}

.back_to_cal {
	margin-top: 25px;
}

/* no Events info */
.no_events {
	color: #656565;
}

/* Show event */
.show_container {
	margin-top: 10px;
	.panel {
		.panel-heading {
			vertical-align: middle;
			.panel-title {
				#heading {
					font-size: 27px;
				}
				#date {
					font-size: 24px;
					color: #008000;
				}
			}
			#btn_group_title {
				margin-right: 15px;
			}
		}
		.panel-body {
			padding-top: 15px;
			#description {
				padding-top: 15px;
			}
		}
	}

	.add_exercise {
		margin-left: 15px;
	}
}

#starttime_field, #endtime_field {
	input {
	  text-align: center;
	}
}

#video_add_info {
	margin-top: 60px;
}



