// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events_index {
	.events.panel-heading {
		vertical-align: middle;
		.panel-title {
			font-size: 27px;
		}

		.btn-group {
			padding-right: 12px;
			a {
				padding: 5px 8px 5px 11px;
			}
		}
	}

	.list_events {
		table {
			margin-bottom: 0;
			.btn_container {
				position:relative;
				height: 38px;
			}
		}
	}
}

.back_to_cal {
	margin-top: 25px;
}

/* no Events info */
.no_events {
	color: #656565;
}

/* Show event */
.show_container {
	.panel {
		.panel-heading {
			vertical-align: middle;
			.panel-title {
				font-size: 27px;
			}
			.date.pull-right {
				margin: 0;
				padding-right: 15px;
				font-size: 24px;
				color: #008000;
			}
		}
		.panel-body {
			padding-top: 15px;
			#description {
				padding-top: 15px;
			}
			#media_container {
				h3 { margin: 5px 0 5px 0; }
				p { margin: 0; }
				.video_container {
				  position: relative;
				  width: 100%;
				  height: 0;
				  padding-bottom: 51%;
				  iframe {
				  	padding: 15px;
				  	padding-bottom: 2px;
					  position: absolute;
					  width: 100%;
					  height: 100%;
					  left: 0; top: 0;
					}
				}
				form {
					#text_fields {
						margin-bottom: 2px;
					}
					#titles .input-group {
						padding-left: 10px;
					}
				}
				.input-group-addon {
					&:hover, &:focus{
						background: #6CD96C;
					}
				}
				.input-group-addon button {
					background: transparent;
					border: none;
					padding: 0;
				}
			}
		}
	}

	.add_exercise {
		margin-left: 15px;
	}
}

#starttime_field, #endtime_field {
	input {
	  text-align: center;
	}
}



